@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Pharmacy.MedPatients.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.Pharmacy.MedPatientsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>