@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Configs.TblOutcomesMother.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.Configs.TblOutcomesMotherGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>