@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Medadmins.Visitsmedicine.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.Medadmins.VisitsmedicineGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>