@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Locations.FacilityTypes.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.Locations.FacilityTypesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>