@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Verifications.Cmedprescriptions.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.Verifications.CmedprescriptionsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>