@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.LabTest.LabPatients.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.LabTest.LabPatientsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>