@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Locations.Provinces.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.Locations.ProvincesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>