{
    "RootNamespace": "EMR",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=.; Initial Catalog=EMR_Default_v1; User Id=hafiz;Password=ouluoulu",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Tenants",
                    "Identifier": "Tenants",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TblBloodGroup",
                    "Identifier": "TblBloodGroup",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TblGender",
                    "Identifier": "TblGender",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.HFHealthFacilities",
                    "Identifier": "HfHealthFacilities",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TblElementValue",
                    "Identifier": "TblElementValue",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TblWRDVar",
                    "Identifier": "TblWrdVar",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TblOperations",
                    "Identifier": "TblOperations",
                    "Module": "Regs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Cluster",
                    "Identifier": "Cluster",
                    "Module": "Locations",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TblOccupation",
                    "Identifier": "TblOccupation",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TblCaseTypes",
                    "Identifier": "TblCaseTypes",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TblAgeTypes",
                    "Identifier": "TblAgeTypes",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TblNbResult",
                    "Identifier": "TblNbResult",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TblNbstatus",
                    "Identifier": "TblNbstatus",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TblNbWeight",
                    "Identifier": "TblNbWeight",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TblChild",
                    "Identifier": "TblChild",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TblDiagnosis",
                    "Identifier": "TblDiagnosis",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TblAbortionType",
                    "Identifier": "TblAbortionType",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LkpServiceTypes",
                    "Identifier": "LkpServiceTypes",
                    "Module": "FM",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.FacilityTypes",
                    "Identifier": "FacilityTypes",
                    "Module": "Configs/Locations",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.FacilityInfo",
                    "Identifier": "FacilityInfo",
                    "Module": "Configs/Locations",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TblProvince",
                    "Identifier": "Provinces",
                    "Module": "Configs/Locations",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TblDistrict",
                    "Identifier": "Districts",
                    "Module": "Configs/Locations",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.BedReportDetails",
                    "Identifier": "BedReportDetails",
                    "Module": "Structure",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.BedReports",
                    "Identifier": "BedReports",
                    "Module": "Structure",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LkpPatientType",
                    "Identifier": "LkpPatientType",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TblFeePayment",
                    "Identifier": "TblFeePayment",
                    "Module": "FM",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.UserFeePatients",
                    "Identifier": "UserFeePatients",
                    "Module": "FM",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LkpServices",
                    "Identifier": "LkpServices",
                    "Module": "FM",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TblPrintDetails",
                    "Identifier": "TblPrintDetails",
                    "Module": "FM",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.HFNoOfPatients",
                    "Identifier": "HfNoOfPatients",
                    "Module": "Regs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Modules",
                    "Identifier": "Modules",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.DashboardUrl",
                    "Identifier": "DashboardUrl",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.FacilityInfoRefer",
                    "Identifier": "FacilityInfoRefer",
                    "Module": "Locations",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Outpatients",
                    "Identifier": "Register",
                    "Module": "OPD",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.VitalSigns",
                    "Identifier": "VitalSigns",
                    "Module": "OPD",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.lkpMedicine",
                    "Identifier": "Medicines",
                    "Module": "Pharmacy",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MedicineOrder",
                    "Identifier": "MedicineOrder",
                    "Module": "Pharmacy",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MedOrderDetails",
                    "Identifier": "MedOrderDetails",
                    "Module": "Pharmacy",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.lkpUnit",
                    "Identifier": "LkpUnit",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.lkpVendor",
                    "Identifier": "LkpVendor",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.lkpManufacturer",
                    "Identifier": "LkpManufacturer",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.lkpForm",
                    "Identifier": "LkpForm",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.lkpHistory",
                    "Identifier": "LkpHistory",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.lkpLabTest",
                    "Identifier": "LkpLabTest",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.lkpPhysExams",
                    "Identifier": "LkpPhysExams",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LkpPhysGroup",
                    "Identifier": "LkpPhysGroup",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MedPrescriptions",
                    "Identifier": "MedPrescriptions",
                    "Module": "OPD",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Visits",
                    "Identifier": "Visits",
                    "Module": "OPD",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LabTest",
                    "Identifier": "LabTest",
                    "Module": "OPD",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PatientHistory",
                    "Identifier": "PatientHistory",
                    "Module": "OPD",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PhysicalExamination",
                    "Identifier": "PhysicalExamination",
                    "Module": "OPD",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ImagePatients",
                    "Identifier": "ImagePatients",
                    "Module": "Imaging",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Imagevisits",
                    "Identifier": "Imagevisits",
                    "Module": "Imaging",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Imagings",
                    "Identifier": "Imagings",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ImgImagings",
                    "Identifier": "ImgImagings",
                    "Module": "Imaging",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Diagnosis",
                    "Identifier": "Diagnosis",
                    "Module": "OPD",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.VitalPatients",
                    "Identifier": "VitalPatients",
                    "Module": "VitalSigns",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Vitalvisits",
                    "Identifier": "Vitalvisits",
                    "Module": "VitalSigns",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.vVitalSigns",
                    "Identifier": "VVitalSigns",
                    "Module": "VitalSigns",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.vServiceFees",
                    "Identifier": "VServiceFees",
                    "Module": "VitalSigns",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Nameslist",
                    "Identifier": "Nameslist",
                    "Module": "Register",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LkpTestTypes",
                    "Identifier": "LkpTestTypes",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LkpTypeofvisit",
                    "Identifier": "Typeofvisit",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LkpPhysExamGroup",
                    "Identifier": "LkpPhysExamGroup",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PatAttendants",
                    "Identifier": "PatAttendants",
                    "Module": "Register",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Countries",
                    "Identifier": "Countries",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TopographyMain",
                    "Identifier": "TopographyMain",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TopographySub",
                    "Identifier": "TopographySub",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.lkpLosstypes",
                    "Identifier": "LkpLosstypes",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Medicinelosses",
                    "Identifier": "Medicinelosses",
                    "Module": "Pharmacy",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Cyclevisits",
                    "Identifier": "Cyclevisits",
                    "Module": "Verifications",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.lkpCycles",
                    "Identifier": "Cycles",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.lkpCaretypes",
                    "Identifier": "Caretypes",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Scheduling",
                    "Identifier": "Scheduling",
                    "Module": "VitalSigns",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Vscheduling",
                    "Identifier": "Vscheduling",
                    "Module": "OPD",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Stages",
                    "Identifier": "Stages",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Medadministration",
                    "Identifier": "Medadministration",
                    "Module": "Medadmins",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MedPatients",
                    "Identifier": "Medadminpatients",
                    "Module": "Medadmins",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Medvisits",
                    "Identifier": "Medvisits",
                    "Module": "Medadmins",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.VisitsMedicine",
                    "Identifier": "Visitsmedicine",
                    "Module": "Medadmins",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LkpBloodStatus",
                    "Identifier": "BloodStatus",
                    "Module": "Configs",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.BloodTransfusions",
                    "Identifier": "BloodTransfusions",
                    "Module": "Medadmins",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Cbloodtransfusions",
                    "Identifier": "Cbloodtransfusions",
                    "Module": "Verifications",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Cdiagnosis",
                    "Identifier": "Cdiagnosis",
                    "Module": "Verifications",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Cimagings",
                    "Identifier": "Cimagings",
                    "Module": "Verifications",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Clabtests",
                    "Identifier": "Clabtests",
                    "Module": "Verifications",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Cmedprescriptions",
                    "Identifier": "Cmedprescriptions",
                    "Module": "Verifications",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Cmedadministration",
                    "Identifier": "Cmedadministration",
                    "Module": "Verifications",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Contacts",
                    "Identifier": "Contacts",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Cpatienthistory",
                    "Identifier": "Cpatienthistory",
                    "Module": "Verifications",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Cpatients",
                    "Identifier": "Cpatients",
                    "Module": "Verifications",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Cphysicalexamination",
                    "Identifier": "Cphysicalexamination",
                    "Module": "Verifications",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Crecommendations",
                    "Identifier": "Crecommendations",
                    "Module": "Verifications",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Cvisits",
                    "Identifier": "Cvisits",
                    "Module": "Verifications",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Cvitalsigns",
                    "Identifier": "Cvitalsigns",
                    "Module": "Verifications",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "EMR_Default_v1ConnectionString",
            "ConnectionString": "Data Source=.;Initial Catalog=EMR_Default_v1;Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\EMR\\EMR.Web\\EMR.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}