@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Pharmacy.Medvisits.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.Pharmacy.MedvisitsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>