@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.OPD.Imagings.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.OPD.ImagingsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>