@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.VitalSigns.Vitalvisits.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.VitalSigns.VitalvisitsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>