@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Regs.TblAdmissionsDischarge.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.Regs.TblAdmissionsDischargeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>