@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Structure.BedReports.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.Structure.BedReportsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>