@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Register.Regvisits.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.Register.RegvisitsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>