@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Register.PatAttendants.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.Register.PatAttendantsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>