@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Regs.TblPatientNextOfKeen.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.Regs.TblPatientNextOfKeenGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>