@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.FM.TblFeePayment.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.FM.TblFeePaymentGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>