@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.OPD.Patients.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.OPD.PatientsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>