@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Imaging.Imagevisits.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.Imaging.ImagevisitsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>