@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Regs.TblPatDetails.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.Regs.TblPatDetailsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>