@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Pharmacy.Medicines.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.Pharmacy.MedicinesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>