@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Verifications.Cvitalsigns.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.Verifications.CvitalsignsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>