@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.OPD.Prescriptions.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.OPD.PrescriptionsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>