@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Imaging.ImagePatients.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.Imaging.ImagePatientsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>