
@{
    ViewData["Title"] = "Admission and discharges";
    ViewData["PageId"] = "Admission and discharges";
}

<!DOCTYPE html>
<html>
<head>
    <title>Admission and discharges</title>
</head>
<body style="width: 100%;height: 700px">
    <script>

    </script>
    <iframe id='frame-div' width='100%' height='100%' frameborder='0' src='/Dashboard/AdmissionsFrame' allowfullscreen></iframe>
</body>
</html>

