@{
    ViewData["Title"] = "Top 10 Diseases";
    ViewData["PageId"] = "Top 10 Diseases";
}

<!DOCTYPE html>
<html>
<head>
    <title>Abortions</title>
</head>
<body style="width: 100%;height: 700px">
    <script>

    </script>
    <iframe id='frame-div' width='100%' height='100%' frameborder='0' src='/Dashboard/Top10DiseaseFrame' allowfullscreen></iframe>
</body>
</html>

