@{
    ViewData["Title"] = "User Fee Dashboard";
    ViewData["PageId"] = "User Fee Dashboard";
}

<!DOCTYPE html>
<html>
<head>
    <title>User Fee Dashboard</title>
</head>
<body style="width: 100%;height: 700px">
    <script>

    </script>
    <iframe id='frame-div' width='100%' height='100%' frameborder='0' src='/Dashboard/UserFeeFrame' allowfullscreen></iframe>
</body>
</html>

