@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.OPD.Visits.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.OPD.VisitsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>