@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.FM.TblPrintDetails.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.FM.TblPrintDetailsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>