@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Regs.TblNewBornManagement.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.Regs.TblNewBornManagementGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>