@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Structure.BedReportDetails.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMR.Structure.BedReportDetailsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>